USE [master]
GO
/****** Object:  Database [MyProjectDb]    Script Date: 1.12.2021 21:50:02 ******/
CREATE DATABASE [MyProjectDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyProjectDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MyProjectDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyProjectDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MyProjectDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyProjectDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyProjectDb]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1.12.2021 21:50:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[SurName] [nvarchar](50) NULL,
	[Title] [nvarchar](100) NULL,
	[About] [nvarchar](1000) NULL,
	[ImageURL] [nvarchar](1000) NULL,
	[Mail] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Name], [SurName], [Title], [About], [ImageURL], [Mail], [Password]) VALUES (4, N'Atakan', N'karataş', N'ASD', N'Muhteşemliğin ötesinde biri', N'pp.jpg', N'asd@asd', N'asd')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
